{
  "name": "sass",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "docs.scss",
      "imports": [
        "_variables.scss",
        "_mixins.scss",
        "vendor/bootstrap-sass/bootstrap/_variables.scss",
        "vendor/bourbon/_bourbon.scss",
        "vendor/include-media/_include-media.scss",
        "vendor/bootstrap-sass/bootstrap/_mixins.scss",
        "mixins/_box.scss",
        "mixins/_box-arrow.scss",
        "mixins/_heading.scss",
        "mixins/_text-overflow.scss",
        "mixins/_list-unstyled.scss",
        "mixins/_button.scss",
        "mixins/_selection.scss",
        "vendor/bourbon/settings/_prefixer.scss",
        "vendor/bourbon/settings/_px-to-em.scss",
        "vendor/bourbon/settings/_asset-pipeline.scss",
        "vendor/bourbon/functions/_assign-inputs.scss",
        "vendor/bourbon/functions/_contains.scss",
        "vendor/bourbon/functions/_contains-falsy.scss",
        "vendor/bourbon/functions/_is-length.scss",
        "vendor/bourbon/functions/_is-light.scss",
        "vendor/bourbon/functions/_is-number.scss",
        "vendor/bourbon/functions/_is-size.scss",
        "vendor/bourbon/functions/_px-to-em.scss",
        "vendor/bourbon/functions/_px-to-rem.scss",
        "vendor/bourbon/functions/_shade.scss",
        "vendor/bourbon/functions/_strip-units.scss",
        "vendor/bourbon/functions/_tint.scss",
        "vendor/bourbon/functions/_transition-property-name.scss",
        "vendor/bourbon/functions/_unpack.scss",
        "vendor/bourbon/functions/_modular-scale.scss",
        "vendor/bourbon/helpers/_convert-units.scss",
        "vendor/bourbon/helpers/_directional-values.scss",
        "vendor/bourbon/helpers/_font-source-declaration.scss",
        "vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/helpers/_render-gradients.scss",
        "vendor/bourbon/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/helpers/_str-to-num.scss",
        "vendor/bourbon/css3/_animation.scss",
        "vendor/bourbon/css3/_appearance.scss",
        "vendor/bourbon/css3/_backface-visibility.scss",
        "vendor/bourbon/css3/_background.scss",
        "vendor/bourbon/css3/_background-image.scss",
        "vendor/bourbon/css3/_border-image.scss",
        "vendor/bourbon/css3/_calc.scss",
        "vendor/bourbon/css3/_columns.scss",
        "vendor/bourbon/css3/_filter.scss",
        "vendor/bourbon/css3/_flex-box.scss",
        "vendor/bourbon/css3/_font-face.scss",
        "vendor/bourbon/css3/_font-feature-settings.scss",
        "vendor/bourbon/css3/_hidpi-media-query.scss",
        "vendor/bourbon/css3/_hyphens.scss",
        "vendor/bourbon/css3/_image-rendering.scss",
        "vendor/bourbon/css3/_keyframes.scss",
        "vendor/bourbon/css3/_linear-gradient.scss",
        "vendor/bourbon/css3/_perspective.scss",
        "vendor/bourbon/css3/_placeholder.scss",
        "vendor/bourbon/css3/_radial-gradient.scss",
        "vendor/bourbon/css3/_selection.scss",
        "vendor/bourbon/css3/_text-decoration.scss",
        "vendor/bourbon/css3/_transform.scss",
        "vendor/bourbon/css3/_transition.scss",
        "vendor/bourbon/css3/_user-select.scss",
        "vendor/bourbon/addons/_border-color.scss",
        "vendor/bourbon/addons/_border-radius.scss",
        "vendor/bourbon/addons/_border-style.scss",
        "vendor/bourbon/addons/_border-width.scss",
        "vendor/bourbon/addons/_buttons.scss",
        "vendor/bourbon/addons/_clearfix.scss",
        "vendor/bourbon/addons/_ellipsis.scss",
        "vendor/bourbon/addons/_font-stacks.scss",
        "vendor/bourbon/addons/_hide-text.scss",
        "vendor/bourbon/addons/_margin.scss",
        "vendor/bourbon/addons/_padding.scss",
        "vendor/bourbon/addons/_position.scss",
        "vendor/bourbon/addons/_prefixer.scss",
        "vendor/bourbon/addons/_retina-image.scss",
        "vendor/bourbon/addons/_size.scss",
        "vendor/bourbon/addons/_text-inputs.scss",
        "vendor/bourbon/addons/_timing-functions.scss",
        "vendor/bourbon/addons/_triangle.scss",
        "vendor/bourbon/addons/_word-wrap.scss",
        "vendor/bourbon/_bourbon-deprecated-upcoming.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "main.scss",
      "imports": [
        "_variables.scss",
        "_mixins.scss",
        "_common.scss",
        "_compoments.scss",
        "vendor/bootstrap-sass/bootstrap/_variables.scss",
        "vendor/bourbon/_bourbon.scss",
        "vendor/include-media/_include-media.scss",
        "vendor/bootstrap-sass/bootstrap/_mixins.scss",
        "mixins/_box.scss",
        "mixins/_box-arrow.scss",
        "mixins/_heading.scss",
        "mixins/_text-overflow.scss",
        "mixins/_list-unstyled.scss",
        "mixins/_button.scss",
        "mixins/_selection.scss",
        "common/_fonts-face.scss",
        "common/_overwrite.scss",
        "common/_helpers.scss",
        "common/_wp-classes.scss",
        "compoments/_grid.scss",
        "compoments/_overlay.scss",
        "compoments/_background.scss",
        "compoments/_list-socials.scss",
        "compoments/_alert.scss",
        "compoments/_forms.scss",
        "compoments/_buttons.scss",
        "compoments/_colors.scss",
        "compoments/_progress-bars.scss",
        "compoments/_dropdown.scss",
        "compoments/_breadcrumb.scss",
        "compoments/_pagination.scss",
        "compoments/_awe-nav.scss",
        "compoments/_awe-menubar.scss",
        "compoments/_awe-box.scss",
        "compoments/_awe-media.scss",
        "compoments/_awe-counting.scss",
        "compoments/_awe-page-loading.scss",
        "compoments/_awe-bgvideo.scss",
        "compoments/_post.scss",
        "compoments/_comment.scss",
        "compoments/_product.scss",
        "compoments/_lookbook.scss",
        "compoments/_blockquote.scss",
        "compoments/_divider.scss",
        "compoments/_ranger.scss",
        "compoments/_nanoscroller.scss",
        "compoments/_owl-carousel.scss",
        "compoments/widgets/_widgets.scss",
        "compoments/widgets/_subscible-widget.scss",
        "compoments/widgets/_brand-widget.scss",
        "compoments/sections/_sections.scss",
        "compoments/sections/_main-sliders.scss",
        "compoments/sections/_news-section.scss",
        "compoments/sections/_policy-section.scss",
        "compoments/sections/_customers-section.scss",
        "compoments/sections/_categories-section.scss",
        "compoments/sections/_feature-section.scss",
        "compoments/sections/_model-section.scss",
        "compoments/layouts/_main.scss",
        "compoments/layouts/_header.scss",
        "compoments/layouts/_footer.scss",
        "compoments/layouts/_404.scss",
        "compoments/layouts/_comming-soon.scss",
        "compoments/layouts/_blog.scss",
        "compoments/layouts/_contact.scss",
        "compoments/layouts/_account.scss",
        "compoments/layouts/_payment.scss",
        "compoments/layouts/_portfolio.scss",
        "compoments/layouts/_customers-say.scss",
        "compoments/layouts/_room-review.scss",
        "compoments/layouts/_farmer.scss",
        "compoments/layouts/_news-post-thumbnail.scss",
        "compoments/layouts/_season-link.scss",
        "compoments/layouts/_glass-trending.scss",
        "compoments/layouts/_sport-link.scss",
        "compoments/_saleoff.scss",
        "compoments/_wp.scss",
        "vendor/bourbon/settings/_prefixer.scss",
        "vendor/bourbon/settings/_px-to-em.scss",
        "vendor/bourbon/settings/_asset-pipeline.scss",
        "vendor/bourbon/functions/_assign-inputs.scss",
        "vendor/bourbon/functions/_contains.scss",
        "vendor/bourbon/functions/_contains-falsy.scss",
        "vendor/bourbon/functions/_is-length.scss",
        "vendor/bourbon/functions/_is-light.scss",
        "vendor/bourbon/functions/_is-number.scss",
        "vendor/bourbon/functions/_is-size.scss",
        "vendor/bourbon/functions/_px-to-em.scss",
        "vendor/bourbon/functions/_px-to-rem.scss",
        "vendor/bourbon/functions/_shade.scss",
        "vendor/bourbon/functions/_strip-units.scss",
        "vendor/bourbon/functions/_tint.scss",
        "vendor/bourbon/functions/_transition-property-name.scss",
        "vendor/bourbon/functions/_unpack.scss",
        "vendor/bourbon/functions/_modular-scale.scss",
        "vendor/bourbon/helpers/_convert-units.scss",
        "vendor/bourbon/helpers/_directional-values.scss",
        "vendor/bourbon/helpers/_font-source-declaration.scss",
        "vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/helpers/_render-gradients.scss",
        "vendor/bourbon/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/helpers/_str-to-num.scss",
        "vendor/bourbon/css3/_animation.scss",
        "vendor/bourbon/css3/_appearance.scss",
        "vendor/bourbon/css3/_backface-visibility.scss",
        "vendor/bourbon/css3/_background.scss",
        "vendor/bourbon/css3/_background-image.scss",
        "vendor/bourbon/css3/_border-image.scss",
        "vendor/bourbon/css3/_calc.scss",
        "vendor/bourbon/css3/_columns.scss",
        "vendor/bourbon/css3/_filter.scss",
        "vendor/bourbon/css3/_flex-box.scss",
        "vendor/bourbon/css3/_font-face.scss",
        "vendor/bourbon/css3/_font-feature-settings.scss",
        "vendor/bourbon/css3/_hidpi-media-query.scss",
        "vendor/bourbon/css3/_hyphens.scss",
        "vendor/bourbon/css3/_image-rendering.scss",
        "vendor/bourbon/css3/_keyframes.scss",
        "vendor/bourbon/css3/_linear-gradient.scss",
        "vendor/bourbon/css3/_perspective.scss",
        "vendor/bourbon/css3/_placeholder.scss",
        "vendor/bourbon/css3/_radial-gradient.scss",
        "vendor/bourbon/css3/_selection.scss",
        "vendor/bourbon/css3/_text-decoration.scss",
        "vendor/bourbon/css3/_transform.scss",
        "vendor/bourbon/css3/_transition.scss",
        "vendor/bourbon/css3/_user-select.scss",
        "vendor/bourbon/addons/_border-color.scss",
        "vendor/bourbon/addons/_border-radius.scss",
        "vendor/bourbon/addons/_border-style.scss",
        "vendor/bourbon/addons/_border-width.scss",
        "vendor/bourbon/addons/_buttons.scss",
        "vendor/bourbon/addons/_clearfix.scss",
        "vendor/bourbon/addons/_ellipsis.scss",
        "vendor/bourbon/addons/_font-stacks.scss",
        "vendor/bourbon/addons/_hide-text.scss",
        "vendor/bourbon/addons/_margin.scss",
        "vendor/bourbon/addons/_padding.scss",
        "vendor/bourbon/addons/_position.scss",
        "vendor/bourbon/addons/_prefixer.scss",
        "vendor/bourbon/addons/_retina-image.scss",
        "vendor/bourbon/addons/_size.scss",
        "vendor/bourbon/addons/_text-inputs.scss",
        "vendor/bourbon/addons/_timing-functions.scss",
        "vendor/bourbon/addons/_triangle.scss",
        "vendor/bourbon/addons/_word-wrap.scss",
        "vendor/bourbon/_bourbon-deprecated-upcoming.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_common.scss",
      "imports": [
        "common/_fonts-face.scss",
        "common/_overwrite.scss",
        "common/_helpers.scss",
        "common/_wp-classes.scss"
      ]
    },
    {
      "path": "_compoments.scss",
      "imports": [
        "compoments/_grid.scss",
        "compoments/_overlay.scss",
        "compoments/_background.scss",
        "compoments/_list-socials.scss",
        "compoments/_alert.scss",
        "compoments/_forms.scss",
        "compoments/_buttons.scss",
        "compoments/_colors.scss",
        "compoments/_progress-bars.scss",
        "compoments/_dropdown.scss",
        "compoments/_breadcrumb.scss",
        "compoments/_pagination.scss",
        "compoments/_awe-nav.scss",
        "compoments/_awe-menubar.scss",
        "compoments/_awe-box.scss",
        "compoments/_awe-media.scss",
        "compoments/_awe-counting.scss",
        "compoments/_awe-page-loading.scss",
        "compoments/_awe-bgvideo.scss",
        "compoments/_post.scss",
        "compoments/_comment.scss",
        "compoments/_product.scss",
        "compoments/_lookbook.scss",
        "compoments/_blockquote.scss",
        "compoments/_divider.scss",
        "compoments/_ranger.scss",
        "compoments/_nanoscroller.scss",
        "compoments/_owl-carousel.scss",
        "compoments/widgets/_widgets.scss",
        "compoments/widgets/_subscible-widget.scss",
        "compoments/widgets/_brand-widget.scss",
        "compoments/sections/_sections.scss",
        "compoments/sections/_main-sliders.scss",
        "compoments/sections/_news-section.scss",
        "compoments/sections/_policy-section.scss",
        "compoments/sections/_customers-section.scss",
        "compoments/sections/_categories-section.scss",
        "compoments/sections/_feature-section.scss",
        "compoments/sections/_model-section.scss",
        "compoments/layouts/_main.scss",
        "compoments/layouts/_header.scss",
        "compoments/layouts/_footer.scss",
        "compoments/layouts/_404.scss",
        "compoments/layouts/_comming-soon.scss",
        "compoments/layouts/_blog.scss",
        "compoments/layouts/_contact.scss",
        "compoments/layouts/_account.scss",
        "compoments/layouts/_payment.scss",
        "compoments/layouts/_portfolio.scss",
        "compoments/layouts/_customers-say.scss",
        "compoments/layouts/_room-review.scss",
        "compoments/layouts/_farmer.scss",
        "compoments/layouts/_news-post-thumbnail.scss",
        "compoments/layouts/_season-link.scss",
        "compoments/layouts/_glass-trending.scss",
        "compoments/layouts/_sport-link.scss",
        "compoments/_saleoff.scss",
        "compoments/_wp.scss"
      ]
    },
    {
      "path": "_mixins.scss",
      "imports": [
        "vendor/bourbon/_bourbon.scss",
        "vendor/include-media/_include-media.scss",
        "vendor/bootstrap-sass/bootstrap/_mixins.scss",
        "mixins/_box.scss",
        "mixins/_box-arrow.scss",
        "mixins/_heading.scss",
        "mixins/_text-overflow.scss",
        "mixins/_list-unstyled.scss",
        "mixins/_button.scss",
        "mixins/_selection.scss",
        "vendor/bourbon/settings/_prefixer.scss",
        "vendor/bourbon/settings/_px-to-em.scss",
        "vendor/bourbon/settings/_asset-pipeline.scss",
        "vendor/bourbon/functions/_assign-inputs.scss",
        "vendor/bourbon/functions/_contains.scss",
        "vendor/bourbon/functions/_contains-falsy.scss",
        "vendor/bourbon/functions/_is-length.scss",
        "vendor/bourbon/functions/_is-light.scss",
        "vendor/bourbon/functions/_is-number.scss",
        "vendor/bourbon/functions/_is-size.scss",
        "vendor/bourbon/functions/_px-to-em.scss",
        "vendor/bourbon/functions/_px-to-rem.scss",
        "vendor/bourbon/functions/_shade.scss",
        "vendor/bourbon/functions/_strip-units.scss",
        "vendor/bourbon/functions/_tint.scss",
        "vendor/bourbon/functions/_transition-property-name.scss",
        "vendor/bourbon/functions/_unpack.scss",
        "vendor/bourbon/functions/_modular-scale.scss",
        "vendor/bourbon/helpers/_convert-units.scss",
        "vendor/bourbon/helpers/_directional-values.scss",
        "vendor/bourbon/helpers/_font-source-declaration.scss",
        "vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/helpers/_render-gradients.scss",
        "vendor/bourbon/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/helpers/_str-to-num.scss",
        "vendor/bourbon/css3/_animation.scss",
        "vendor/bourbon/css3/_appearance.scss",
        "vendor/bourbon/css3/_backface-visibility.scss",
        "vendor/bourbon/css3/_background.scss",
        "vendor/bourbon/css3/_background-image.scss",
        "vendor/bourbon/css3/_border-image.scss",
        "vendor/bourbon/css3/_calc.scss",
        "vendor/bourbon/css3/_columns.scss",
        "vendor/bourbon/css3/_filter.scss",
        "vendor/bourbon/css3/_flex-box.scss",
        "vendor/bourbon/css3/_font-face.scss",
        "vendor/bourbon/css3/_font-feature-settings.scss",
        "vendor/bourbon/css3/_hidpi-media-query.scss",
        "vendor/bourbon/css3/_hyphens.scss",
        "vendor/bourbon/css3/_image-rendering.scss",
        "vendor/bourbon/css3/_keyframes.scss",
        "vendor/bourbon/css3/_linear-gradient.scss",
        "vendor/bourbon/css3/_perspective.scss",
        "vendor/bourbon/css3/_placeholder.scss",
        "vendor/bourbon/css3/_radial-gradient.scss",
        "vendor/bourbon/css3/_selection.scss",
        "vendor/bourbon/css3/_text-decoration.scss",
        "vendor/bourbon/css3/_transform.scss",
        "vendor/bourbon/css3/_transition.scss",
        "vendor/bourbon/css3/_user-select.scss",
        "vendor/bourbon/addons/_border-color.scss",
        "vendor/bourbon/addons/_border-radius.scss",
        "vendor/bourbon/addons/_border-style.scss",
        "vendor/bourbon/addons/_border-width.scss",
        "vendor/bourbon/addons/_buttons.scss",
        "vendor/bourbon/addons/_clearfix.scss",
        "vendor/bourbon/addons/_ellipsis.scss",
        "vendor/bourbon/addons/_font-stacks.scss",
        "vendor/bourbon/addons/_hide-text.scss",
        "vendor/bourbon/addons/_margin.scss",
        "vendor/bourbon/addons/_padding.scss",
        "vendor/bourbon/addons/_position.scss",
        "vendor/bourbon/addons/_prefixer.scss",
        "vendor/bourbon/addons/_retina-image.scss",
        "vendor/bourbon/addons/_size.scss",
        "vendor/bourbon/addons/_text-inputs.scss",
        "vendor/bourbon/addons/_timing-functions.scss",
        "vendor/bourbon/addons/_triangle.scss",
        "vendor/bourbon/addons/_word-wrap.scss",
        "vendor/bourbon/_bourbon-deprecated-upcoming.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "_variables.scss",
      "imports": [
        "vendor/bootstrap-sass/bootstrap/_variables.scss"
      ]
    },
    {
      "path": "vendor/bootstrap-sass/_bootstrap.scss",
      "imports": [
        "vendor/bootstrap-sass/bootstrap/_variables.scss",
        "vendor/bootstrap-sass/bootstrap/_mixins.scss",
        "vendor/bootstrap-sass/bootstrap/_normalize.scss",
        "vendor/bootstrap-sass/bootstrap/_print.scss",
        "vendor/bootstrap-sass/bootstrap/_glyphicons.scss",
        "vendor/bootstrap-sass/bootstrap/_scaffolding.scss",
        "vendor/bootstrap-sass/bootstrap/_type.scss",
        "vendor/bootstrap-sass/bootstrap/_code.scss",
        "vendor/bootstrap-sass/bootstrap/_grid.scss",
        "vendor/bootstrap-sass/bootstrap/_tables.scss",
        "vendor/bootstrap-sass/bootstrap/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/_component-animations.scss",
        "vendor/bootstrap-sass/bootstrap/_dropdowns.scss",
        "vendor/bootstrap-sass/bootstrap/_button-groups.scss",
        "vendor/bootstrap-sass/bootstrap/_input-groups.scss",
        "vendor/bootstrap-sass/bootstrap/_navs.scss",
        "vendor/bootstrap-sass/bootstrap/_navbar.scss",
        "vendor/bootstrap-sass/bootstrap/_breadcrumbs.scss",
        "vendor/bootstrap-sass/bootstrap/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/_pager.scss",
        "vendor/bootstrap-sass/bootstrap/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/_badges.scss",
        "vendor/bootstrap-sass/bootstrap/_jumbotron.scss",
        "vendor/bootstrap-sass/bootstrap/_thumbnails.scss",
        "vendor/bootstrap-sass/bootstrap/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/_progress-bars.scss",
        "vendor/bootstrap-sass/bootstrap/_media.scss",
        "vendor/bootstrap-sass/bootstrap/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/_responsive-embed.scss",
        "vendor/bootstrap-sass/bootstrap/_wells.scss",
        "vendor/bootstrap-sass/bootstrap/_close.scss",
        "vendor/bootstrap-sass/bootstrap/_modals.scss",
        "vendor/bootstrap-sass/bootstrap/_tooltip.scss",
        "vendor/bootstrap-sass/bootstrap/_popovers.scss",
        "vendor/bootstrap-sass/bootstrap/_carousel.scss",
        "vendor/bootstrap-sass/bootstrap/_utilities.scss",
        "vendor/bootstrap-sass/bootstrap/_responsive-utilities.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "vendor/bourbon/_bourbon.scss",
      "imports": [
        "vendor/bourbon/settings/_prefixer.scss",
        "vendor/bourbon/settings/_px-to-em.scss",
        "vendor/bourbon/settings/_asset-pipeline.scss",
        "vendor/bourbon/functions/_assign-inputs.scss",
        "vendor/bourbon/functions/_contains.scss",
        "vendor/bourbon/functions/_contains-falsy.scss",
        "vendor/bourbon/functions/_is-length.scss",
        "vendor/bourbon/functions/_is-light.scss",
        "vendor/bourbon/functions/_is-number.scss",
        "vendor/bourbon/functions/_is-size.scss",
        "vendor/bourbon/functions/_px-to-em.scss",
        "vendor/bourbon/functions/_px-to-rem.scss",
        "vendor/bourbon/functions/_shade.scss",
        "vendor/bourbon/functions/_strip-units.scss",
        "vendor/bourbon/functions/_tint.scss",
        "vendor/bourbon/functions/_transition-property-name.scss",
        "vendor/bourbon/functions/_unpack.scss",
        "vendor/bourbon/functions/_modular-scale.scss",
        "vendor/bourbon/helpers/_convert-units.scss",
        "vendor/bourbon/helpers/_directional-values.scss",
        "vendor/bourbon/helpers/_font-source-declaration.scss",
        "vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-angle-parser.scss",
        "vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "vendor/bourbon/helpers/_linear-positions-parser.scss",
        "vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "vendor/bourbon/helpers/_radial-arg-parser.scss",
        "vendor/bourbon/helpers/_radial-positions-parser.scss",
        "vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "vendor/bourbon/helpers/_render-gradients.scss",
        "vendor/bourbon/helpers/_shape-size-stripper.scss",
        "vendor/bourbon/helpers/_str-to-num.scss",
        "vendor/bourbon/css3/_animation.scss",
        "vendor/bourbon/css3/_appearance.scss",
        "vendor/bourbon/css3/_backface-visibility.scss",
        "vendor/bourbon/css3/_background.scss",
        "vendor/bourbon/css3/_background-image.scss",
        "vendor/bourbon/css3/_border-image.scss",
        "vendor/bourbon/css3/_calc.scss",
        "vendor/bourbon/css3/_columns.scss",
        "vendor/bourbon/css3/_filter.scss",
        "vendor/bourbon/css3/_flex-box.scss",
        "vendor/bourbon/css3/_font-face.scss",
        "vendor/bourbon/css3/_font-feature-settings.scss",
        "vendor/bourbon/css3/_hidpi-media-query.scss",
        "vendor/bourbon/css3/_hyphens.scss",
        "vendor/bourbon/css3/_image-rendering.scss",
        "vendor/bourbon/css3/_keyframes.scss",
        "vendor/bourbon/css3/_linear-gradient.scss",
        "vendor/bourbon/css3/_perspective.scss",
        "vendor/bourbon/css3/_placeholder.scss",
        "vendor/bourbon/css3/_radial-gradient.scss",
        "vendor/bourbon/css3/_selection.scss",
        "vendor/bourbon/css3/_text-decoration.scss",
        "vendor/bourbon/css3/_transform.scss",
        "vendor/bourbon/css3/_transition.scss",
        "vendor/bourbon/css3/_user-select.scss",
        "vendor/bourbon/addons/_border-color.scss",
        "vendor/bourbon/addons/_border-radius.scss",
        "vendor/bourbon/addons/_border-style.scss",
        "vendor/bourbon/addons/_border-width.scss",
        "vendor/bourbon/addons/_buttons.scss",
        "vendor/bourbon/addons/_clearfix.scss",
        "vendor/bourbon/addons/_ellipsis.scss",
        "vendor/bourbon/addons/_font-stacks.scss",
        "vendor/bourbon/addons/_hide-text.scss",
        "vendor/bourbon/addons/_margin.scss",
        "vendor/bourbon/addons/_padding.scss",
        "vendor/bourbon/addons/_position.scss",
        "vendor/bourbon/addons/_prefixer.scss",
        "vendor/bourbon/addons/_retina-image.scss",
        "vendor/bourbon/addons/_size.scss",
        "vendor/bourbon/addons/_text-inputs.scss",
        "vendor/bourbon/addons/_timing-functions.scss",
        "vendor/bourbon/addons/_triangle.scss",
        "vendor/bourbon/addons/_word-wrap.scss",
        "vendor/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "vendor/owl.carousel/_owl.autoheight.scss",
      "imports": [
        "vendor/owl.carousel/_mixins.scss"
      ]
    },
    {
      "path": "vendor/owl.carousel/_owl.lazyload.scss",
      "imports": [
        "vendor/owl.carousel/_mixins.scss"
      ]
    },
    {
      "path": "vendor/owl.carousel/_owl.video.scss",
      "imports": [
        "vendor/owl.carousel/_mixins.scss"
      ]
    },
    {
      "path": "vendor/bootstrap-sass/bootstrap/_mixins.scss",
      "imports": [
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "vendor/bootstrap-sass/bootstrap/_theme.scss",
      "imports": [
        "vendor/bootstrap-sass/bootstrap/_variables.scss",
        "vendor/bootstrap-sass/bootstrap/_mixins.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_hide-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_opacity.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_image.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_labels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-filter.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_resize.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_responsive-visibility.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_size.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_tab-focus.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_reset-text.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-emphasis.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_text-overflow.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_vendor-prefixes.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_alerts.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_buttons.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_panels.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_pagination.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_list-group.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-divider.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_forms.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_progress-bar.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_table-row.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_background-variant.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_border-radius.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_gradients.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_clearfix.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_center-block.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_nav-vertical-align.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid-framework.scss",
        "vendor/bootstrap-sass/bootstrap/mixins/_grid.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}