// Variable
$awewoo-brand-border: $border-color;

.awewoo-brand {
    border: solid 1px $awewoo-brand-border;
}

.awewoo-brand-header {
    border-bottom: solid 1px $awewoo-brand-border;
    padding: 5px 10px;

    .form-control {
        height: 27px;
        line-height: 27px;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: none;
        border: none;
    }
}

.awewoo-brand-content {
    padding: 10px;
}