.bg-video {
	position: relative;
	padding: 200px 0;
	&:hover {
		#togglePlay {
			&.play {
				opacity: 1;
			}
		}
	}

	.yt-thumbnail {
		position: absolute !important;
		left: 0;
		top: 0;
		width: 100%;
	}
}

#togglePlay {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	background-color: transparent;
	width: 90px; height: 90px;
	font-size: 32px;
	&.play {
		opacity: 0;
	}
}